.restaurant {
    background-color: $color-bg;
    padding: 55px 0 65px 0;
}
.restaurant-title {
    width: 100%;
    padding-left: 20px;
    margin: 0 20px 26px 0;
}

.restaurant-container {
    margin: 20px;
    border-radius: $border-radius-restaurants;
    background-color: #ffffff;
    box-shadow: 4px 2px 4px $color-border;
    position: relative;
    &__img {
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-radius: $border-radius-restaurants $border-radius-restaurants 0 0;
    }
    &__info {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 0 20px;
            &--text {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
            }
    }
    &__heart {
        padding-right: 20px;
        cursor: pointer;
        height: fit-content;
        position: relative;
        &--filled {
            position: absolute;
            top: 0px;
            left: 0px;
            background: linear-gradient(to top right, $color-secondary, $color-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
.restaurant-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: -1;
}
.title-bar {
    position: relative;
    padding: 40px 0;
    &__heart{
        position: absolute;
        top: 45px;
        right: 45px;
    }
}
.menu {
    width: 100%;
    padding: 0 14px;
    border-radius: 25px 25px 0 0;
    background-color: $color-bg;
    position: relative;
    top: -35px;
    z-index: 1;
    &__section {
        text-transform: uppercase;
    }
    &__divider {
        background-color: $color-tertiary;
        width: 35px;
        height: 3px;
        margin-top: 6px;
    }
    &__item {
        background-color: $color-menu-item-bg;
        border-radius: 15px;
        padding: 10px;
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        opacity: 0;
        animation: fadeIn 1s ease-in-out 0s forwards;
        &:nth-child(3) {
            animation-delay: .2s;
        }
        &:nth-child(4) {
            animation-delay: .4s;
        }
        &:nth-child(5) {
            animation-delay: .6s;
        }
        &:nth-child(6) {
            animation-delay: .8s;
        }
        &--left {
            width: 100%;
            position: relative;
            z-index: 1;
        }
        &:hover > .menu__cost {
            transform: translateX(-50px);
            transition: 500ms;
        }
        &:hover .menu__desc {
            transform: translateX(-50px);
            padding-left: 50px;
            transition: 500ms;
        }
    }
    &__name {
        padding: 3px 0 8px 0;
    }
    &__desc {
        padding-bottom: 3px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 260px;
        transition: 500ms;
    }
    &__cost {
        display: flex;
        align-items: flex-end;
        padding: 0px 2px 4px 0;
        transition: 500ms;
    }
    &__check {
        background-color: $color-tertiary;
        position: absolute;
        right: 0px;
        top: 0;
        width: 50px;
        height: 100%;
        border-radius: 0 15px 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        transform: translateX(50px);
        transition: 500ms;
        }
}
.menu__item:hover {
    & > .menu__check {
        transform: translateX(0);
        transition: transform 500ms;
        & > .fa-check-circle {
            transform: rotate(360deg);
            transition: 500ms;
        }
    }
}
.fa-check-circle {
    color: white;
    background-color: $color-tertiary;
    transform: rotate(90deg);
    transition: 500ms;
}