.restaurant {
    background-color: $color-bg;
    padding: 55px 0 65px 0;
}
.restaurant-title {
    width: 100%;
    padding-left: 20px;
    margin: 0 20px 26px 0;
}

.restaurant-container {
    margin: 20px;
    border-radius: $border-radius-restaurants;
    background-color: #ffffff;
    box-shadow: 4px 2px 4px $color-border;
    position: relative;
    &__img {
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-radius: $border-radius-restaurants $border-radius-restaurants 0 0;
    }
    &__info {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0 20px;
            &--text {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
            }
    }
    &__heart {
        margin: 0 20px 0 0;
        cursor: pointer;
        height: fit-content;
    }
}