footer {
    background-color: $color-footer;
    color: $color-footer-text;
    padding: 25px 20px 20px 20px;
    }

.footer {
    &--img {
        filter: invert(100%);
        height: 20px;
    }
    &__item {
        margin: 10px 0;
    }
    &--fas {
        width: 16px;
    }
}