header {
    position: relative;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    &__img {
        height: 30px;
    }
}
#header-homepage {
    justify-content: center;
}
.fa-arrow-right {
    visibility: hidden;
}