.link {
    &--footer {
        color: $color-footer-text;
        text-decoration: none;
    }
    &--explore {
        color: white;
        text-decoration: none;
    }
}
.clickable {
    position: absolute;
    width: 100%;
    height: 100%;
}