.button {
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
    color: $color-button-text;
}
.heart {
    position: absolute;
    left: -9999px;
    &:checked + .heart-off {
        opacity: 1;
        transition: opacity 500ms;
    }
}
.heart-on {
    position: absolute;
    top: 0px;
    left: 0px;
    color: darken($color-bg, 50%);
    &--home {
        color: $color-bg;
    }
}
.heart-off {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 500ms;
}
