body {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: $color-text;
}
.font-title {
    @include font-title;
}
.font-content {
    &--bold {
        font-weight: 900;
    }
    &--large {
        font-size: 16px;
    }
}
.font-menu {
    &--name {
        font-weight: bolder;
    }
    &--desc {
        color: fade-out($color-text, .5);
    }
    &--cost {
        font-weight: bold;
    }
    &--section {
        color: fade-out($color-text, .5);
        font-size: 14px;
    }
    &--hidden {
        visibility: hidden;
    }
}