.location-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken($color-bg, 10%);
    border-top: solid 2px darken($color-bg, 20%);
    height: 50px;
    &--text {
        padding-left: 20px;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-bg;
    width: 100%;
    padding-bottom: 35px;
    &__title {
        width: auto;
        padding-top: 20px;
    }
    &__subtitle {
        padding: 20px 45px;
        text-align: center;
    }
}

.how-it-works {
    margin: 25px 0 70px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &__title {
        margin-left: 28px;
        @include desktop {
            width: 100%;  
        }
    }
    @include tablet {
       margin: 25px 10% 70px 10%;
    }
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;        
    }
}
.step {
    background-color: $color-bg;
    margin: 0 20px 0 40px;
    border: solid $color-bg;
    border-radius: 15px;
    box-shadow:  4px 2px 4px $color-border;
    display: flex;
    height: 75px;
    align-items: center;
    position: relative;
    &__number {
        position: absolute;
        left: -12.5px;
        background-color: $color-primary;
        height: 25px;
        width: 25px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }
    &__icon {
        padding: 0 25px 0 33px;
    }
    @include desktop {
        width: 26.66%;
    }
}
#homepage {
    animation: homepage-delay 3s cubic-bezier(1,-0.87,1,.62);
}
.wineglass-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.wineglass   {
    width: 80px;
    animation: homepage-fadeOut 3s ease-in-out;
    opacity: 0;
    position: absolute;
    margin-top: 80px;
    &__base {
        width: 70px;
        height: 10px;
        background-color: $color-wineglass;
        border-radius: 10px 10px 2px 2px;
        margin: 0 7px;

    }
    &__stem {
        width: 10px;
        height: 70px;
        background-color: $color-wineglass;
        margin: 0 37px;

    }
    &__bowl {
        width: 80px;
        height: 120px;
        border-radius: 2px 2px 20px 20px;
        border: solid 4px $color-wineglass;
        overflow: hidden;
        box-shadow: 0 0 0 10px white;

    }
    &__full {
        width: 78px;
        height: 110px;
        background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
        border-radius: 0 0 17px 17px;
        position: absolute;
        top: 123px;
        left: 0px;
        animation: fill-glass 3s ease-in-out;
        z-index: -1;
        }
    &__bottom-container {
        width: 88px;
        height: 100px;
        position: relative;
        background-color: white;
    }
}

.loading-text {
    width: 300px;
    transform: translateX(-110px);
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    @include font-title;
}