/* colors */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: lighten(#000000, 20%);
$color-footer-text: white;
$color-bg: #ededed;
$color-border: darken($color-bg, 10%);
$color-button-text: white;
$color-menu-item-bg: white;
$color-text: black;
$color-wineglass:#bababa;

$border-radius-restaurants: 15px;

$breakpoints: (
    tablet-min: 600px,
    tablet-max: 1999.99px,
    desktop: 1200px
)
